{{#if track}}
  <div class="row">
    <div class="col-md-9">
      <img class="now-playing-thumnail" src="{{track.album.artworkUrl}}">
      <h5>{{track.album.name}} - {{track.name}}</h5>
      <p>{{me-duration player.remainingTime}}</p>
    </div>
    <div class="col-md-3">
      <div class="now-playing-controls">
        {{#if player.isPlaying}}
          <button {{action 'pause'}} class="player-control glyphicon glyphicon-pause"></button>
        {{else}}
          <button {{action 'resume'}} class="player-control glyphicon glyphicon-play"></button>
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <p class="now-playing-placeholder">Select a track to start playing.</p>
{{/if}}
